@import "../modules/variables";

.navbar {
    display: flex;
    flex-direction: column;
}

.navbar-logo {
    display: flex;
    flex-direction: column;
    padding: 40px 0 90px 0;
}

.navbar-menu {
    ul {
        li {
            list-style: none;
            background-image: linear-gradient(-180deg, #FFFFFF,  #d4d4d4);
            a {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 50px 50px 20px 50px;
                position: relative;
                font-family: 'PT Sans', sans-serif;
                font-weight: 600;
                font-size: 1.4rem;
                color: $nav-font-color;
                text-decoration: none;
                img {
                    transition: 0.4s;
                    position: absolute;
                    bottom: 45px;
                }
            }
        }
    }
}

@media (min-width: 740px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-logo {
        flex-direction: row;
        padding: 20px 0 0 0;
    }

    .navbar-menu {
        display: flex;
        align-items: flex-end;

        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            li {
                box-shadow: 0 0 10px 0 #d4d4d4;
                &:last-child {
                    a {
                        border-right: 0;
                    }
                }
                a {
                    border-right: 1px solid #d4d4d4;
                    transition: 0.2s;
                    &:hover {
                        padding: 50px 50px 30px 50px;
                        transition: 0.2s;
                        background: #FFFFFF;
                        box-shadow: inset 10px -30px 0 -10px;
                        img {
                            bottom: 60px;
                        }
                    }
                }
            }
        }
    }
}

.nav-decoration-first {
    box-shadow: inset 10px -20px 0 -10px #6017a3;
    &:hover {
        color: #6017a3;
    }
}

.nav-decoration-second {
    box-shadow: inset 10px -20px 0 -10px #701dbb;
    &:hover {
        color: #701dbb;
    }
}

.nav-decoration-third {
    box-shadow: inset 10px -20px 0 -10px #a34ff0;
    &:hover {
        color: #a34ff0;
    }
}

.nav-decoration-fourth {
    box-shadow: inset 10px -20px 0 -10px #8038c2;
    &:hover {
        color: #8038c2;
    }
}
