@import "../modules/variables";

.navbar {
    position: relative;
    display: flex;
    flex-direction: column;
}

.navbar-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 5vw 40px 5vw;
    img {
        height: 50px;
    }
}

.display-toggle {
    display: none;
}

.navbar-menu {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 3;
    ul {
        li {
            width: 300px;
            list-style: none;
            background-image: linear-gradient(-180deg, #FFFFFF,  #d4d4d4);
            a {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 50px 50px 20px 50px;
                position: relative;
                font-family: 'PT Sans', sans-serif;
                font-weight: 600;
                font-size: 1.4rem;
                color: $nav-font-color;
                text-decoration: none;
                img {
                    transition: 0.4s;
                    position: absolute;
                    bottom: 45px;
                }
            }
        }
    }
}

.responsive-menu-btn {
    width: 50px;
    height: 20px;
    border: 0;
    border-top: 7px solid #6017a3;
    position: relative;
    transition: 0.3s transform linear;
    &::before, &::after {
        content: '';
        position: absolute;
        width: 100%;
        border-top: 7px solid #6017a3;
        transform: translateY(8px);
        transition: 0.3s transform linear;
    }
    &:after {
        transform: translateY(23px);
    }
}

@media (min-width: 822px) {

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-logo {
        flex-direction: row;
        padding: 30px 2vw 110px 2vw;
    }

    .navbar-menu {
        position: static;
        display: flex;
        align-items: flex-end;
        padding: 0 2vw 0 0;
        z-index: 0;
        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            li {
                width: 140px;
                box-shadow: 0 0 10px 0 #d4d4d4;
                &:last-child {
                    a {
                        border-right: 0;
                    }
                }
                a {
                    border-right: 1px solid #d4d4d4;
                    transition: 0.2s;
                    &:hover {
                        padding: 50px 50px 30px 50px;
                        transition: 0.2s;
                        background: #FFFFFF;
                        box-shadow: inset 10px -20px 0 -10px;
                        img {
                            bottom: 60px;
                        }
                    }
                }
            }
        }
    }
}

.nav-decoration-first {
    box-shadow: inset 10px -15px 0 -10px #6017a3;
    &:hover {
        color: #6017a3;
    }
}

.nav-decoration-second {
    box-shadow: inset 10px -15px 0 -10px #701dbb;
    &:hover {
        color: #701dbb;
    }
}

.nav-decoration-third {
    box-shadow: inset 10px -15px 0 -10px #a34ff0;
    &:hover {
        color: #a34ff0;
    }
}

.nav-decoration-fourth {
    box-shadow: inset 10px -15px 0 -10px #8038c2;
    &:hover {
        color: #8038c2;
    }
}
