@import "../modules/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    max-width: 940px;
    height: 100%;
    margin: 0 auto;
}

.page-nav {
    position: relative;
    width: 100%;
    background: $light_bg-color;
}

.page-slide {
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    height: 550px;
}

.page-map {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 847px) {
    .page-nav {
        height: 120px;
    }
}
