.map-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: #2d2d2d;
    border-top: 1px solid #5a5a5a;

    h1 {
        width: 100%;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
        font-weight: lighter;
        font-size: 3.6rem;
        color: #FFFFFF;
        padding: 40px 20px 20px 20px;
        margin: 0;
    }

    p {
        width: 100%;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
        font-weight: lighter;
        font-size: 2rem;
        color: #a161db;
        margin: 0;
        padding: 0 0 10px 0;
    }
}

.map-img-container {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 20px 0 50px 0;
    }
}

.map-article-container {
    width: 100%;
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-map-article {
    padding: 0 20px 40px 20px;
    h2 {
        font-family: 'PT Sans', sans-serif;
        font-weight: lighter;
        font-size: 2.6rem;
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 13px;
    }
    p {
        font-family: 'PT Sans', sans-serif;
        font-weight: lighter;
        font-size: 1.5rem;
        color: #FFFFFF;
        text-align: center;
    }
}

@media (min-width: 822px) {

    .map-section {
        h1 {
            padding: 40px 0 0 0;
        }
        p {
            font-size: 1.7rem;
            padding: 0 0 10px 0;
        }
    }

    .map-article-container {
        flex-wrap: nowrap;
    }

    .page-map-article {
        h2 {
            text-align: left;
        }

        p {
            text-align: left;
        }
    }
}
