.slider {
    position: relative;
    img {
        width: 100%;
        max-width: 1550px;
    }
}

.slider-visible {
    position: absolute;
    opacity: 1;
    transition: 0.5s all;
}

.slider-invisible {
    position: absolute;
    opacity: 0;
    transition: 0.5s all;
}

i {
    opacity: 0.6;
    z-index: 2;
    border: solid #FFFFFF;
    border-width: 0 10px 10px 0;
    padding: 20px;
}

.prev-slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    z-index: 1;
    width: 20%;
}

.prev-arrow-slide {
    left: 50px;
    transform: rotate(135deg);
}

.next-slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    z-index: 1;
    width: 20%;
    height: 100%;
}

.next-arrow-slide {
    right: 50px;
    transform: rotate(-45deg);
}

.slider-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 10%;
    }
}

@media (min-width: 822px) {
    i {
        transition: 0.5s all;
    }
    
    .prev-slide {
        &:hover {
            cursor: pointer;
            i {
                opacity: 1;
            }
        }
    }

    .next-slide {
        &:hover {
            cursor: pointer;
            i {
                opacity: 1;
            }
        }
    }

    .slider-icon {
        img {
            transition: 0.5s all;
            &:hover {
                cursor: pointer;
                width: 15%;
            }
        }
    }
}
